node_modules/
.npm-cache/
.pnpm-home/
.electron-cache/
out/
dist/
build/icon.png
build/

data/comics.db
data/comics.db-shm
data/comics.db-wal
data/config.json
data/logs/
data/thumbnails/

output/

*.tsbuildinfo
